<div class="navigation-inner clearfix">
  <!-- Left side -->
  <div class="navigation-left{{#if _canRevert}} navigation-loginas-background{{/if}}">
    {{#if isAuthenticated}}
      <a href="#" class="navigation-item navigation-global-menu" data-event="globalMenu:toggle">
        <div id="global-menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <div href="#" class="navigation-item navigation-product-name">{{t 'app.productname'}}</div>
    {{/if}}
  </div>
  <!-- Right side -->
  <div class="navigation-right{{#if _canRevert}} navigation-loginas-background{{/if}}">
    {{#if _canRevert}}
      <button class="revert-loginas btn">{{t 'app.logbackinas'}} {{_revertLogin.email}}</button>
    {{/if}}
    {{#if isAuthenticated}}
      <a href="#" class="navigation-item navigation-help" data-event="help">
        <span>{{t 'app.help'}}</span>
      </a>
      <a href="#" class="navigation-item navigation-profile" data-event="user:profile">
        {{t 'app.loggedinas'}}:
        <span>
          {{#if user.attributes.firstName}}
            {{user.attributes.firstName}} {{user.attributes.lastName}}
          {{else}}
            {{user.attributes.email}}
          {{/if}}
        </span>
      </a>
      <a href="#" class="navigation-item navigation-user-logout btn white-hollow" data-event="user:logout">
        <span>{{t 'app.logout'}}</span>
      </a>
    {{/if}}
  </div>
</div>
